.productsPage {
  margin: 5%;

  .card {
    padding: 20px;

    .cardImage {
      height: 300px;
      width: auto;
    }

    .cardTitle {
      font-size: 14px !important;
      max-height: 36px;
      overflow: hidden;

      &:hover {
        overflow: auto;
      }
    }

    .price {
      margin: 15px 0 !important;
      font-size: 14px;
      font-weight: bold;
      color: deeppink;
    }

    .description {
      max-height: 130px;
      overflow: hidden;

      &:hover {
        overflow: auto;
      }
    }
  }
}
